<article>
  <form action="">
    <div class="form-group">
      <label>Usuario:</label>
      <input class="form-control" type="text" [(ngModel)]="username" name="username">
    </div>

    <div class="form-group">
      <label>Envia mensaje:</label>
      <input class="form-control" type="text" [(ngModel)]="msgtxt" name="msgtxt">
    </div>

    <div class="form-group">
      <button class="btn btn-primary" (click)="envia()">Enviar</button>
    </div>
  </form>

  <hr>
  <h4>Mensajes:</h4>
  <ul>
    <li *ngFor="let aM of losmsgs" [class]="aM.user==username?'left':'right'">
      <div>{{aM.user==username?'Tú':aM.user}}: {{aM.txt}}</div>
    </li>
  </ul>
</article>